@model LoginFormModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="loginForm" method="post">
                <h2></h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-2">
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Email" class="form-label"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Password" class="form-label"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="form-label">
                            <label class="custom-checkbox-label">
                                <input type="checkbox" name="RememberMe">
                                <span class="custom-checkbox"></span>
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </label>
                    </div>
                </div>
                <div>
                    @*<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>*@
                    <recaptcha-v3 form-id="loginForm" action="submit" class="w-100 btn btn-lg btn-primary">Login</recaptcha-v3>
                </div>
                <div>
                    <p>
                        <a asp-controller="User" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <recaptcha-script />
    <partial name="_ValidationScriptsPartial" />
}
