@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "All Users";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<table class="table table-striped ">
    <thead>
            <tr>
            <th><label style="color: white;">Email</label></th>
            <th><label style="color: white;">Full Name</label></th>
                <th><label style="color: white;">Artist Name</label></th>
            <th><label style="color: white;">User Is Artist</label></th>
            </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label style="color: white;">@user.Email</label></td>
                <td><label style="color: white;">@user.FullName</label></td>
                <td><label style="color: white;">@user.ArtistName</label></td>
                <td>
                    @if (user.ArtistName != string.Empty)
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
            </tr>
        }
       

    </tbody>
</table>
