@model GenreFormModel
@{
    ViewBag.Title = "Add Genre";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}

<br />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data" asp-area="Admin" asp-action="Add" asp-controller="Genre">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"
                       placeholder="Genre Name">
                <span asp-validation-for="Name" class="small textdanger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3 " type="submit" value="AddGenre" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}