@using RedeyeMusic.Web.ViewModels.Playlist;
@model AddToPlaylistViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add to Playlist</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <h5>Select or create a playlist:</h5>
            @foreach (var playlist in Model.Playlists)
            {
                <label class="custom-checkbox-label">
                    <input type="checkbox" name="playlist-checkbox" value="@playlist.Id" @(playlist.Songs.Any(s => s.Id == Model.SongModel.Id) ? "checked" : "")>
                    <span class="custom-checkbox"></span>
                    @playlist.Name
                </label>
                <br />
                
            }
            <div>
                <label>Create a new playlist:</label>
                <input type="text" id="newPlaylistName" />
                <button class="btn btn-primary create-playlist-btn">Create Playlist</button>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="save-playlist-btn" class="btn btn-primary save-playlist-btn" data-song-id="@Model.SongModel.Id">Save</button>
        </div>
    </div>
</div>


