@using static RedeyeMusic.Common.GeneralApplicationConstants;
@using RedeyeMusic.Data.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedeyeMusic</title>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" integrity="sha512-6S2HWzVFxruDlZxI3sXOZZ4/eJ8AcxkQH1+JjSe/ONCEqR9L4Ysq5JdT5ipqtzU7WHalNwzwBv+iE51gNHJNqQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script>
        $(document).ready(function () {
            $('#purpose').on('change', function () {
                if (this.value == 'NewAlbum') {
                    $("#addnew").show();
                }
                else {
                    $("#addnew").hide();
                }
            });
        });
    </script>
 
</head>
<body style="min-width: 350px">
    <header class="pb-0">
        <nav class="mainnav navbar-expand-lg navbar navbar-toggleable-lg navbar-dark bg-dark border-bottom-dark box-shadow" mb-3data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/red-eye.svg" alt="Redeye Logo" width="60" height="60"> RedeyeMusic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item active">
                            <a class="nav-link  text-light" asp-area="" asp-controller="Song" asp-action="All">Songs</a>
                        </li>
                        @if(this.User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Playlist" asp-action="All">Popular Playlists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Playlist" asp-action="Mine">My Playlists</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Song" asp-action="Add">Add Song</a>
                            </li>
                            
                        }
                    </ul>
                    <ul ul class="navbar-nav flex-grow-1 mr-auto">
                        <form class="d-flex mr-auto" role="search" id="searchBy ">
                            <input class="form-control mc-2" type="search" placeholder="Search by Song, Artist, Genre..." aria-label="Search" style="width:400px;">
                            <button class="btn btn-secondary" type="submit" color="red">Search</button>
                        </form>
                    </ul>
                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container m-3 " >
        <main role="main" class="pt-0">
            @RenderBody()
        </main>
    </div>
    <partial name="_NotificationsPartial" />
    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; RedeyeMusic @ReleaseYear
            @if(DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}")
            }
        </div>
        
    </footer>
   @await RenderSectionAsync("Scripts", required: false)
    
   
</body>
</html>
