@using Microsoft.AspNetCore.Identity
@using RedeyeMusic.Data.Models;
@using RedeyeMusic.Services.Data.Interfaces;
@using RedeyeMusic.Web.Infrastrucutre.Extensions;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IApplicationUserService UserService;
@inject IArtistService ArtistService
@{
    bool isArtist = await this.ArtistService.ArtistExistsByUserIdAsync(this.User.GetId());
    string userFullName = await this.UserService.GetFullNameByEmailAsync(User.Identity?.Name!);
    
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
         if(!isArtist)
        {
        <li class="nav-item mt-1">
            <a class="nav-link text-light" asp-area="" asp-controller="Artist" asp-action="Become">Become an Artist</a>
        </li>
         }
        <img class="rounded-circle" src="~/images/Icon.png" style="width:50px; height=50px">
        
        <li class="nav-item btn-group dropstart">
                @if(isArtist)
                {
                    string artistName = await this.ArtistService.GetArtistNameByUserIdAsync(this.User.GetId());
                 <a class="nav-link dropdown-toggle" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @artistName
                </a>
                }
                else
                {
                    <a class="nav-link dropdown-toggle" id="dropdownMenuButton" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @userFullName
                    </a>
                }
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" type="button-submit" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a></li>
                <li class="dropdown-item">
                    <form class="dropdown-item" type="button-submit" role="button" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <input type="submit" value="LogOut">
                    </form>
                </li>
                </ul>
        </li>
    
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </li>
}
    
</ul>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

