@model BecomeArtistFormModel
@{
    ViewBag.Title = "Become Artist";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
<h3 class="text-center">In order to become an Artist, you need a Nickname!</h3>
<br />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" asp-area="" asp-action="Become" asp-controller="Artist">
            <div class="form-group">
                <label asp-for="ArtistName"></label>
                <input asp-for="ArtistName" class="form-control"
                       placeholder="Artist Name">
                <span asp-validation-for="ArtistName" class="small textdanger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3 " type="submit" value="Become an Artist" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}