body{
    background-color:grey;
}
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 80px;
    width: 100%;
    
}
footer {
    background-color: #f1f1f1;
    padding: 0px 20px;
}

.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}

audio {
    width: 100%;
    max-width: 1000px;
    background-color: red; /* White background for the audio player */
    border: 2px solid #e94f4f; /* Red border color */
    border-radius: 230px; /* Rounded corners */
    padding: 5px;
}

.container{
    min-height: 500px;
    background-position: 20% 30%;
}
body a{
    text-decoration:none;
}
.main {
    background-color: grey;
}
.btn {
    color: white;
    background-color: red;
    outline-color: red;
}
.btn-primary{
    background-color:red;
    border-color:red;
}
.btn-details
{
    background-color: green;
    border-color:green;
}
.btn-edit {
    background-color: deepskyblue;
    border-color: deepskyblue;
}
.song:hover{
    border:solid thin grey;
    cursor: pointer;
    transform:translateY(-5px)
}
.song {
    background-color: #b30000;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(116,7,7,1) 0%, rgba(152,11,11,1) 26%, rgba(203,14,14,1) 75%, rgba(0,0,0,0.03125) 100%);
    transition: all 0.3s ease;
}
.homeview-nav .nav-item .active{
    text-decoration-color:none;
    color: white;
    background-color: red;
    border-color: red;
}

.btn-play {
    background-color: transparent;
    
}
.white{
    color:white;
    text-decoration:none;
}
.toast-container .toast-error {
    background-color: #BD362F;
}
.smallText {
   max-width:50ch;
    overflow: hidden;
    white-space: nowrap;
    
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button-link img {
        vertical-align: middle;
    }
.album-card {
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
}

    .album-card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .album-card .card-body {
        padding: 12px;
        background-color: red;
        color: white;
        text-align: center;
    }

    .album-card .card-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .album-card .card-text {
        font-size: 14px;
    }
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

    .custom-checkbox::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        background-color: red; 
        border-radius: 2px;
        opacity: 0; 
        transition: opacity 0.3s ease-in-out;
    }


input[type="checkbox"]:checked + .custom-checkbox::before {
    opacity: 1;
}




